.parallax-container {
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)); */
    
}

.links {
    font-size: 4em;
    color: white;
}

.card-action > .icon {
    font-size: 3em;
}

.card .card-title {
    font-weight: normal;
}

.card-content > p {
    font-size: 1.2em;
    font-weight: 300;
}

a > .card {
    text-decoration: none;
    color: black;
}

.hero-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #311b92, #1a237e);
    opacity: .4;
  }

  .icon {
      font-size: 4em;
      margin-right: 25px;
  }

.thin-text {
    font-weight: 300;
}

.title {
    margin-top: -120px;
}

#staggered-test > li {
    opacity: 0;
}